p
{
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	margin-left: 0;
	margin-right: 0; 
	font-size:0.7rem;
	line-height: 0.8rem;
}

.app-link
{
	font-size:0.7rem;
	text-decoration:underline;
	color:green;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}