html
{
	font-family: "微软雅黑";
	font-size : 20px;
}

.bin-navigation-container
{
	position: absolute;
	left: 0rem;
	top: 0rem;
	padding: 0rem;
	margin: 0rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bin-HUD-container
{
	position: absolute;
	left: 0rem;
	top: 0rem;
	padding: 0rem;
	margin: 0rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color:transparent;
	pointer-events:none;
	z-index:100000000000000;
}

.bin-page
{
	position: absolute;
	left: 0rem;
	top: 0rem;
	right: 0rem;
	bottom: 0rem;
	overflow: hidden;
	background-color: white;
}

.bin-page-navi-bar
{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height:1.9rem;
	background-color: blue;
	text-align: center;
}

.bin-page-navi-left
{
	float: left;
	text-align: left;
	width: 1.9rem;
	height: 1.9rem;
	padding-left: 0.5rem;

	background-size: 1rem 1rem;
	background-position: 0.5rem 0.45rem;

	background-image: url("../img/back.png");
}

.bin-page-navi-right
{
	float: right;
	text-align: right;
	width: 1.9rem;
	height: 1.9rem;
	padding-right: 0.5rem;

	background-size: 1rem 1rem;
	background-position: 0.9rem 0.45rem;
}

.bin-page-navi-image
{
	background-repeat: no-repeat;
	
}

.bin-page-navi-text
{
	position: relative;
	font-size: 0.6rem;
	line-height: 1.9rem;
	background-image: url("");
	color: white;
	width: auto;
}

.bin-page-navi-title
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	width: 50%;
	font-size: 0.7rem;
	line-height: 1.9rem;
	color: white;
}

.bin-page-content
{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: scroll;
}

.bin-page-navi-bar+.bin-page-content
{
	top:1.9rem;
}

.bin-refresh-view
{
	overflow: hidden;
	height:100%;
}

.bin-refresh-view-content
{
	
}

.bin-list-view
{
	overflow: hidden;
	height:100%;
}

.bin-list-view-content
{
	height: auto;
}

.bin-alert-view
{
	pointer-events:auto;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: rgba(128, 128, 128, 0.6);
	text-align: center;
}

.bin-indicator-view
{
	position:absolute;
	background-color:transparent;
	pointer-events:none;
	width:100%;
	height:100%;
	z-index: 1000;
	left: 0px;
	top:0px;
}
