html
{
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
	font-size : 20px;
}

.bin-navigation-container
{
	position: absolute;
	left: 0rem;
	top: 0rem;
	padding: 0rem;
	margin: 0rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bin-HUD-container
{
	position: absolute;
	left: 0rem;
	top: 0rem;
	padding: 0rem;
	margin: 0rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color:transparent;
	pointer-events:none;
	z-index:100000000000000;
}

.bin-page
{
	position: absolute;
	left: 0rem;
	top: 0rem;
	right: 0rem;
	bottom: 0rem;
	overflow: hidden;
	background-color: white;
}

.bin-native-page
{
	position: absolute;
	left: 0rem;
	top: 0rem;
	right: 0rem;
	bottom: 0rem;
	overflow: hidden;
	background-color: transparent;
}

.bin-page-navi-bar
{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height:2.2rem;
	line-height: 2.2rem;
	background-color: #f7f7f8;
	text-align: center;
}

.bin-page-navi-left
{
	float: left;
	text-align: left;
	width: 1.9rem;
	height: inherit;
	padding-left: 0.5rem;

	background-size: 1rem 1rem;
	background-position: 0.5rem 50%;

	background-image: url("../img/back.png");
}

.bin-page-navi-right
{
	float: right;
	text-align: right;
	width: 1.9rem;
	height: inherit;
	padding-right: 0.5rem;

	background-size: 1rem 1rem;
	background-position: 0.9rem 50%;
}

.bin-page-navi-image
{
	background-repeat: no-repeat;
}

.bin-page-navi-text
{
	position: relative;
	font-size: 0.8rem;
	line-height: inherit;
	background-image: url("") !important;
	color: #0894ec;
	width: auto;
}

.bin-page-navi-title
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	width: 50%;
	font-size: 0.85rem;
	line-height: inherit;
	color: #3d4145;
    font-weight: bold;
}

.bin-page-content
{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
    background-color:#efeff4;
}

.bin-page-navi-bar+.bin-page-content
{
	top:2.2rem;
}

.bin-refresh-view
{
	overflow: hidden;
}

.bin-refresh-view-content
{
	height: auto;
	overflow-y: hidden;
}

.bin-list-view
{
	overflow: hidden;
}

.bin-lazyload-container
{

}

.bin-lazyload
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

@-webkit-keyframes bin-kf-loading 
{
    100% 
    {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes bin-kf-loading
{
    100%
    {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.bin-loading-image
{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.bin-loading-active
{
  	-webkit-animation: bin-kf-loading 1s steps(12, end) infinite;
}

.bin-switch 
{
  	width: 1.8rem;
  	height: 0.75rem;
  	position: relative;
  	background-color: #7C7C7D;
  	border-radius: 0.5rem;
  	background-clip: content-box;
  	display: inline-block;
  	-webkit-appearance: none;
  	user-select: none;
  	outline: none; 
  	transition: background-color ease 0.4s; 
}
  
.bin-switch:before 
{
    content: '';
    width: 0.95rem;
    height: 0.95rem;
    position: absolute;
    top: -0.1rem;
    left:0rem;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); 
    transition: left 0.3s;
}

.bin-switch:checked 
{
    background-color: #64bd63;
    transition: border-color 0.4s, background-color ease 0.4s; 
}
    
.bin-switch:checked:before 
{
    left: 0.85rem; 
    transition: left 0.3s; 
}
