.DatePickerView
{
	pointer-events:auto;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 10000rem;
	overflow: hidden;
	background-color: rgba(128, 128, 128, 0.6);
	text-align: left;
}

#datePickerView .DatePickerView-content-block
{
	position: absolute;
	width:14rem;
	height:auto;
	left: 50%; 
	margin-left: -7rem;
	background-color: white;
}

#datePickerView .DatePickerView-title-block
{
	position: relative;
	width:100%;
	height:2rem;
	font-size:0.8rem;
	line-height: 2rem;
	box-sizing : border-box;
	padding-left: 0.5rem;
    border-bottom: solid 1px rgba(200, 200, 200, 1.0); 
}

#datePickerView .DatePickerView-lines
{
	pointer-events:none;
	width:13rem;
	height:3rem;
	border-bottom: solid 1px #0894ec; 
	border-top: solid 1px #0894ec; 
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top:1.45rem;
	transform: scaleY(0.5);
	-webkit-transform: scaleY(0.5);
}

#datePickerView .DatePickerView-pick-block
{
	position: relative;
	width:100%;
	height:6rem;
	line-height: 6rem;
	font-size:0px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	box-sizing: border-box;
}

#datePickerView .DatePickerView-item-block
{
	display: inline-block;
	width: 33%;
	height:100%;
	line-height: inherit;
	font-size: 0px;
	vertical-align: top;
	text-align: center;
	position: relative;
}

#datePickerView .DatePickerView-wrapper
{
	height: 4.5rem;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:0.75rem;
	width:100%;
}

#datePickerView .DatePickerView-label
{
	font-size: 0.8rem;
	height: 100%;
	line-height: inherit;
	text-align: left;
	right: 0px;
	top: 0px;
	position: absolute;
	color: #0894ec;
}


#datePickerView .DatePickerView-wrapper ul
{
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#datePickerView .DatePickerView-wrapper ul li
{
	list-style: none;
	list-style-type:none;
	width:100%;
	height:1.5rem;
	line-height: 1.5rem;
	font-size: 0.8rem;
	text-align: center;
}

#datePickerView .DatePickerView-wrapper .DatePickerView-picked
{
	font-size:1.0rem;
	color: #0894ec;
}

#datePickerView .DatePickerView-button-block
{
	position: relative;
	width:100%;
	height:2rem;
	font-size:0rem;
	background-color: rgba(230, 230, 230, 1.0);
    border-top: solid 1px rgba(200, 200, 200, 1.0); 
}

#datePickerView .DatePickerView-button
{
	width:50%;
	height:2rem;
	font-size: 0.8rem;
	line-height:2rem; 
	background-color: white;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

#datePickerView .DatePickerView-v-line
{
	height:100%;
	width: 1px;
	position:absolute;
	left:50%;
	top: 0rem;
	background-color: rgba(200, 200, 200, 1.0);
}